@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-image: linear-gradient(-225deg, #ffffff 0%,rgb(13, 184, 254) 100%);
    background-image: linear-gradient(rgba(255, 230, 0, 0.096), rgba(255, 148, 219, 0.144),rgba(13, 186, 254, 0.144) );
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.w50{
    width: 50%;
    float: left;
    padding-right: 10px;
}
.form-box{
    background-color: #ffffff8f ;
    backdrop-filter: blur(40px);
    padding: 40px;
    border-radius:20px;
    width: 60%;
    margin: 8% auto;
    box-shadow: 0 2px 5px 2px hsla(30, 1%, 68%, 0.31);
}
h2{
    font-size: 30px;
    text-align: center;
}
h4{
    color: rgb(13, 184, 254);
    font-weight: 400;
    text-align: center;
}
h3{
    color: black;
    font-weight: 400;
    text-align: center;
}
input[type='submit'] {
    display: none;
  
}
.buttonInput{
    cursor: pointer;

}

form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(167, 166, 164, 0.089);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 13px;
    color: #616161;
}
form .input-group input:focus{
    border-color: rgba(254, 1, 161, 0.26);
}
.button{
    width: 30%;
    height: 45px;
    background: rgb(254, 1, 130);
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 5% 0 5% 35%;
    color: white;
    font-size: 18px;

}
.button:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(13, 184, 254);
}

@media (max-width:930px) {

    .form-box{
        width: 80%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}

input[type='file'] {
  display: none;
  
}
.editarFoto{
  cursor: pointer;
}

.imagem{
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 3px solid rgb(13, 184, 254);
  margin-left: 35%;
  margin-top: 5%;
}


